grid{
    background-image: url("mlb_logo-1.png");
}

QPushButton{
    border-radius: 10px;
    font-family: "Helvetica";
    background-color: "tomato";
    height: 30;
    border-width: 0;
    color: white;
    font-size: 12px;
    outline-width: 2px;
    outline-color: black;
}

QComboBox{
    background-color: DodgerBlue;
    color: white;
}

QLabel{
    color: Tomato;

    font-size: 35px;
    font-family: "Comic Sans";
}